@font-face {
    font-family: 'Sofia Pro';
    src: url('../../assets/SofiaProLight.woff2') format('woff2'),
        url('../../assets/SofiaProLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
    }

@keyframes caret {
    50% {
      border-color: transparent;
    }
  }

/* Color Variables */
$aquablue: #1E53EC;
$darkblue: #152E75;



html body {
    max-width: 100%;
    overflow-x: hidden;
    background: #fff;
}

#main {
    display: flex;
    flex-direction: column;
    align-items:center;
}

#navbar {
    width: 100%;
    margin-bottom: 100px;
}

.navbar {
    z-index: 9999;
    overflow:hidden;
    width: 100%;
    background-color: #ffffff;
    justify-content: space-evenly;
    position: fixed;
    
}

#navbar a {
    margin-top: 15px;
    color:#000;
}

/* Name Logo Text */

#name {
    font-family: Spartan, sans-serif;
    font-weight: 1000;
    font-size: 16px;
    position: relative;
    margin-right: 180px;
}


a {
    font-size: 15px;
    color: #ffffffd8;
    text-decoration: none;
    font-family: Spartan,sans-serif;
    font-weight: 600;

}
a:hover {
    color:#d8cbff;
}

/* portrait image */
#me {
    position:relative;
    left: 100px;
    bottom: 100px;
    width: 450px;
    height: auto;
}

/* Image and Text */

#intro {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


#texdiv {
    left: 250px;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

/* Hello text */

#introtext {
    color: black;
    margin: 15px 0 30px;
    font-family: Spartan,sans-serif;
    font-size: 34px;
    font-style: oblique;
    position: relative;
    line-height: 50px;
    font-weight: 700;
    
}



/* Animated Text */

#text {
    color: black;
    font-family: 'Nunito Sans',sans-serif;
    font-size: 24px;
    position: relative;
    line-height: 35px;
    font-weight: 200;
    text-align: center;
}


#introbutton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#introbutton a {
    margin-left: 0px;
    align-items: flex-start;
}

#introbutton button {
    margin-right: 100px;
}

#bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #fff;
    height: 150px;
    margin-top: 100px;
}
#bottom a {
    margin: 10px;
    width: 80px;


}

#bottom img {

    width: 50px;
    
}

#buttom nav {
    height: 100%;
}



#tech {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background: #fff;
}


#box {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
}
#projects {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 400px;
    background: #f6f5ff;
}

#h1text {
    margin-top: 100px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projectbox {
    width: 100%;
    display: flex; 
    flex-direction: row;
}

.card {
    margin-left: 100px;
}



#box img {
    height: 100px;
    margin: 50px;
    max-width: 200px;
}


#techtext {

    margin-top: 30px;
    font-size: 30px;
}



  @media only screen and (max-width: 750px) {
      #name {
          display: none;
          font-size: 0px;
      }
      .navbar{
          margin-bottom: 80px;
      }
      #intro {
          flex-direction: column;
      }
      #texdiv {
        flex-direction: column;
        left: 0px;
    }
    #text {
        font-size: 14px;
        width: 200px;
    }
      #introtext {
          font-size: 22px;
          left: 0px;
      }
      #name {
          font-size: 10px;
      }
      .navbar a {
        
        font-size: 14px;
      } 
     
      #me {
          max-width: 200px;
      }
  }

  #btn1 {
      margin-top: 50px;
      font-family: spartan;
      font-size: 20px;
  }
  @media only screen and (max-width: 1000px) {
    #name {
        font-size: 0px;
        display: none;
        margin-right: 0px;
    }
  }

  @media only screen and (max-width: 700px) {
    #me {
        top: 0px;
        max-width: 200px;
        left: 0px;
    }
    #btn1 {
        font-size: 16px;
    }
    #box img {
        height: 50px;
        margin: 20px;
    }
  }
  @media only screen and (min-width: 1600px) {
      #me {
          width: 550px;
      }  

      #introtext {
          font-size: 60px;
      }
      
      #text {
          font-size: 40px;
          margin-bottom: 50px;
          margin-top: 40px;
      }
}

